logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/.bloop
/.metadata
/.metals
/RUNNING_PID
/.settings
/.cache-main
/.cache-tests
/bin