@import play.api.i18n.Messages 
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html 
@import org.webjars.play.WebJarsUtil 
@import controllers.AssetsFinder 

@(title: String, user: Option[models.User] = None)(content: Html)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder, webJarsUtil: WebJarsUtil)

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/png" href="@assets.path("images/favicon.png")">
	<title>@title</title>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,600">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css">
	@webJarsUtil.locate("bootstrap.min.css").css()
	<link rel="stylesheet" media="screen" href="@assets.path("styles/main.css")">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<nav class="navbar navbar-expand-sm fixed-top navbar-dark info-color">
		<a class="navbar-brand"
			href="@controllers.routes.ApplicationController.index">Fairlancer</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link waves-effect waves-light" href="#">@messages("home") <span class="sr-only">(current)</span></a></li> 
				
				@user.map { u =>
					<li class="nav-item"><a href="@controllers.routes.ApplicationController.index">@u.name</a></li>
					@if(u.loginInfo.providerID == com.mohiva.play.silhouette.impl.providers.CredentialsProvider.ID) {
						<li class="nav-item"><a class="nav-link waves-effect waves-light" href="@controllers.routes.ChangePasswordController.view">@messages("change.password")</a></li>
					}
					<li class="nav-item"><a class="nav-link waves-effect waves-light" href="@controllers.routes.ApplicationController.signOut">@messages("sign.out")</a></li>
				}.getOrElse {
					<li class="nav-item"><a class="nav-link waves-effect waves-light" href="@controllers.routes.SignInController.view">@messages("sign.in")</a></li>
					<li class="nav-item"><a class="nav-link waves-effect waves-light" href="@controllers.routes.SignUpController.view">@messages("sign.up")</a></li>
				}
			</ul>
			@*
			<form class="form-inline">
				<div class="md-form my-0">
					<input class="form-control mr-sm-2" type="text"
						placeholder="Search" aria-label="Search">
				</div>
			</form>
			*@
		</div>
	</nav>
	<main class="container">
	<div class="starter-template row">
		@request.flash.get("error").map { msg =>
		<div class="col-md-6 offset-md-3 alert alert-danger">
			<a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@messages("error")</strong>
			@msg
		</div>
		} @request.flash.get("info").map { msg =>
		<div class="col-md-6 offset-md-3 alert alert-info">
			<a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@messages("info")</strong>
			@msg
		</div>
		} @request.flash.get("success").map { msg =>
		<div class="col-md-6 offset-md-3 alert alert-success">
			<a href="#" class="close" data-dismiss="alert">&times;</a> <strong>@messages("success")</strong>
			@msg
		</div>
		} @content
	</div>
	</main>
	@webJarsUtil.locate("jquery.min.js").script()
	@webJarsUtil.locate("bootstrap.min.js").script()
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
	<script src="@assets.path("javascripts/zxcvbnShim.js")"></script>
</body>
</html>
